p{ font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
h1{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}
p.important {
  font-size: 1.5em;
}
h3.bigger {
  font-size: 2.5em;
}
.typewriter {
  font-family: "Courier New", Courier, Monospace;
}
.emphasized {
  font-style: italic;
}
.color {
  color: red
}
.spacey {
  letter-spacing: 0.02em;
  word-spacing: .5em;
  line-height: 1.4em
}
h3{
  text-align: center
}
p.justy {
  text-align: justify;
}
p.indenty {
  text-indent: 1em;
}
blockquote{
  font-size: -.5em;
  color: grey;
}
p.offsety{
  margin: 1em 2em 1em 2em;
}
.enclosed{
  border: 2px ridge blue;
  padding: .5em 1em .5em 1em;
}
h4, p{
  text-align: center;
}